<p>resigtertion works!</p>
<form #singform="ngForm" (ngSubmit)="submitform(singform)">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username" #usernames="ngModel" [(ngModel)]="username">
      <div id="emailHelp" class="form-text"></div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" name="password" #passwords="ngModel" [(ngModel)]="password">
    </div>
    <div class="mb-3">
        <label  for="exampleCheck1" >number</label>
      <input type="number" class="form-control" id="exampleCheck1" name="numbers" #numbers="ngModel" [(ngModel)]="number">
     
    </div>
    <div class="mb-3">
        <label  for="exampleCheck1" >select gender</label>
        <select class="form-select" aria-label="Default select example"  name="gender" #genders="ngModel" [(ngModel)]="gender">
            <option value=undefined>select gender</option>
            <option value="male">male</option>
            <option value="female">female</option>
            <option value="other">other</option>
          </select>
    </div>
    <div class="mb-3">
        <label  for="exampleCheck2" >select active or diactive</label>
        <select class="form-select" aria-label="Default select example"  name="employeactive" #employeeactive="ngModel" [(ngModel)]="isactive">
            <option value=undefined>select active or diactive</option>
            <option value="active">active</option>
            <option value="diactive">diactive</option>

          </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <button routerLink="" class="btn btn-primary">Back to login</button>
  </form>
