<p>studentfrom works!</p>
<form class="col col-md-6" #userFrom=ngForm>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" name="email" ngModel required email>
        <div style="color: red;" *ngIf="userFrom.controls['email']?.['touched'] && userFrom.controls['email']?.['errors']">
          <div *ngIf="userFrom.controls['email']?.['errors']?.['required']" >
          Enter email
          </div>
          <div *ngIf="userFrom.controls['email']?.['errors']?.['email']">
              invalid  email
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
        <input class="form-control" id="exampleFormControlTextarea1" name="lastname" ngModel required minlength="5">
        <div style="color: red;" *ngIf="userFrom.controls['lastname']?.['touched'] && userFrom.controls['lastname']?.['errors']">
          <div *ngIf="userFrom.controls['lastname']?.['errors']?.['required']" >
          *lastname requried
          </div>
          <div *ngIf="userFrom.controls['lastname']?.['errors']?.['minlength']">
              *only 5 requried
          </div>
        </div>
        
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gender" value="male" id="flexRadioDefault1" ngModel>
        <label class="form-check-label" for="flexRadioDefault1">
       male
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gender" value="female"   id="flexRadioDefault2" ngModel>
        <label class="form-check-label" for="flexRadioDefault2">
        female
        </label>
      </div>
      <button (click)="onsub(userFrom)">subit</button>
</form>
<div>
    <p>{{userfrom?.fristname}}</p>
    <p>{{userfrom?.lastname}}</p>
    <p>{{userfrom?.gender}}</p>
</div>
