<p>productdata works!</p>

<button (click)="add()">Add Products</button>
<h1 >{{userdata.username}}</h1>
<div class="d-flex flex-wrap">
    <div *ngFor="let p of data ">
        
            <div class="card m-2 p-2" style="width: 18rem;">
                <img   src={{p.image}} class="card-img-top w-50" alt="...">
                <div class="card-body w-50">
                    <b class="card-title">{{p.title}}</b>
                    <p class="card-text">{{p.price}}</p>
               <button    class="bi bi-trash-fill" (click)="delet(p.id)"></button>
               <button (click)="edit(p)"  type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal">edit</button>
             
                </div>
            </div>
        
    </div>
</div>

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <form [formGroup]="formdata">
          <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Product Id</label>
            <div class="col-sm-10">
              <input type="text"  class="form-control" formControlName="id" id="staticEmail" >
            </div>
          </div>
          <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Product Tittle</label>
            <div class="col-sm-10">
              <input type="text"  class="form-control" formControlName="title" id="staticEmail" >
            </div>
          </div>
          <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Product IMAGE</label>
            <div class="col-sm-10">
              <input type="text"  class="form-control" formControlName="image" id="staticEmail" >
            </div>
          </div>
          <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Product Prince</label>
            <div class="col-sm-10">
              <input type="text"  class="form-control" formControlName="price" id="staticEmail" >
            </div>
          </div>
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="update()">update</button>
        </div>
      </div>
    </div>
  </div>
<div>
    <router-outlet></router-outlet>
</div>