
<div class="main" >
 
    <form  [formGroup]="fromdata" (ngSubmit)="onsingup()" class="shadow-lg w-50 h-50 d-flex align-items-center justify-content-center " >
   
        <div class="row-gap-2">
            <div>
                <b>Please Rigestion</b>
            </div>
            <div class="col-10">
               
             username:   <input type="email" name="user" formControlName="username"  ngModel  class="form-control" required><br>
              </div>
              <div class="col-10">
             password:  <input type="text" name="password" formControlName="password"   class="form-control" ngModel required><br>
              </div>
              <div >
                <button class="btn btn-danger" type="submit" >Regiter</button>
              </div>
   
          
        </div><br>
       
    </form>
</div>