
<form (ngSubmit)="onsubmit(login)" #login="ngForm" >
<div class="row g-1">
    <div class="col-6">
        <label  for="">fristname:</label>
        <input type="text" class="form-control" ngModel name="fristname" required #fristname="ngModel">
        <div *ngIf="fristname.invalid && fristname.dirty || fristname.touched">
            Requried name
        </div>
    </div>
</div>
<button class=" btn btn-info" type="submit">save</button>
</form>

<div>
    {{fromdata.firstname}}
    {{fromdata.lastname}}
</div>