<h1>{{title}}</h1>
<div [formGroup]="person">
  <div>
    <label for="">fname</label>
    <input type="text" formControlName="fname"><br>
    <div class="text-danger" *ngIf="person.controls['fname'].invalid && (person.controls['fname'].touched || person.controls['fname'].dirty )">
      <span *ngIf="person.controls['fname'].errors?.['required']">PLEASE ENTERD</span>
      <span *ngIf="person.controls['fname'].errors?.['minlength']">ONLY 4 charaters requried</span>
    </div>
  </div>
  <div>
    <label for="">EMAIL</label>
    <input type="email" formControlName="phone">
    <div class="text-danger" *ngIf="person.controls['phone'].invalid && (person.controls['phone'].touched || person.controls['phone'].dirty )">
      <span *ngIf="person.controls['phone'].errors?.['required']">PLEASE ENTERD</span>
      <span *ngIf="person.controls['phone'].errors?.['email']">EMAIL IS NOT PROPER</span>
    </div>
  </div>
  <div>
    <label for="">collage</label>
    <input type="text" formControlName="collage">
  </div>
  <button (click)="abc()">save</button>
</div>

<div>
  <p>{{people?.fname}}</p>
  <p>{{people?.phone}}</p>
  <p>{{people?.collage}}</p>
</div>

<app-todo></app-todo>
<app-studentfrom></app-studentfrom>
<app-employer></app-employer>
<app-fromgroup></app-fromgroup>