<p>home works!</p>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
   Add New Employee
  </button>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Detailes</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Employee Id</label>
                <div class="col-sm-10">
                  <input type="text"  class="form-control" id="staticEmail" [(ngModel)]="employmeid">
                </div>
              </div>
              <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Employee Name:</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputPassword" [(ngModel)]="employnamne">
                </div>
              </div>
              <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Team</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputPassword" [(ngModel)]="team">
                </div>
              </div> <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Phone number</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputPassword" [(ngModel)]="phonenumber">
                </div>
              </div> <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Type</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputPassword" [(ngModel)]="type">
                </div>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="addnew()">Add new Employee</button>
        </div>
      </div>
    </div>
  </div>
<div class="container">
    
    <table class="table table-striped">
        <tr>
            <th>employ Id</th>
            <th>Employee Name</th>
            <th>Team</th>
            <th>Phone number</th>
            <th>Type</th>
        </tr>
        <tr *ngFor="let e of employdata">
            <td>
                {{e.id}}
        </td>
        <td>{{e.employname}}</td>
        <td>{{e.team}}</td>
        <td>{{e. phonenumeber}}</td>
        <td>{{e.type}}</td>
        <td><div class="dropdown">
  <i class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="bi bi-three-dots-vertical">
      
    </i>
  </i>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      edit
     </button>

    
    <li><a class="dropdown-item"  (click)="delet(e.id)">delete</a></li>
    
  </ul>
</div></td>
    </tr>
    </table>
</div>