<!-- <div class="login">
    <div class="main">
        <form #userlogin="ngForm" (ngSubmit)="login(userlogin)" class="shadow-lg w-50 h-50 d-flex align-items-center justify-content-center">
            <div class="row-gap-2">
                <h1 class="bi bi-person-circle d-flex align-items-center justify-content-center"></h1>
                <div class="col-10">
                    <label for="username">Username:</label>
                    <input type="email" id="username" name="username" #usernames="ngModel" [(ngModel)]="username" class="form-control" required>
                </div>
                <br>
                <div class="col-10">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" #password="ngModel" [(ngModel)]="password" class="form-control" required>
                </div>
                <br>
                <div class="col-10">
                    <button class="btn btn-dark" type="submit">Login</button>
                </div>
                <br>
                <div class="col-10">
                    <a routerLink="signin">Click to new user?</a>
                </div>
            </div>
        </form>
    </div>
</div> -->
