<p>exmplestyle works!</p>
<input type="text" [(ngModel)]="name">
<p>{{name}}</p>
<h1 [ngClass]="isactive?'active':'inactive'">vamsi</h1>
<h2 *ngIf="!city ;then c ;else d"></h2>

<ng-template #c>
    Loading
</ng-template>
<ng-template #d>
    <b>{{city}}</b>
</ng-template>

<ul>
    <li *ngFor="let a of city index as i">{{a}}
    {{i}}
    <button (click)="abc(i)">Delete</button>
    </li>
   
</ul>
<button  class="btn btn-primary" (click)="exampl()">click</button>

<button [disabled]=active>hidde</button>
<br>

  <button (click)="inc()">increment</button>
  <button (click)="dec()">decrement</button>
<h2>{{counter}}</h2>
<button (click)="passdata()">sent</button>
<h5>{{price | currency : "INR"}}</h5>
<h3>{{studentname | uppercase}}</h3>
<h5>{{students | json}}</h5>
<button (click)="abcd()">pass</button>
